data/
data_/
*.pth

mmsegmentation/build/
mmsegmentation/dist/
mmsegmentation/mmseg/__pycache__/

mmsegmentation/mmseg/*/__pycache__/
*/__pycache__/
.mim/
__pycache__/
*.log
weight/
outputs/
outputs_*/
work_dirs/
*.png
*.json